:root{
    --main-color:#7AB730;
    --bg:white;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;

}
body{
    background-color: white;
    height: 300vh;
    background-size: 300vh;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: .1rem solid rgba(255,255,255,.3);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 999;
}
.header .logo img{
    height: 3rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:black;
   z-index: 999;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
h1{
    margin: auto;
    color: #7AB730;
    text-align: center;
    font-size: 100px;
    margin-top: 105px;
}
.jp{
    width: 325px;
    height: 375px;
    margin-top: 0px;
    margin-left: 1170px;
    cursor: pointer;
}
.pa{
    font-size: 30px;
    position: absolute;
    padding: 10px;
    top: 220px;
    font-family: monospace;
    width: 1075px;
    white-space: normal;
}
h3{
    margin: auto;
    color: #7AB730;
    font-size: 50px;
    margin-left: 150px;
    font-family: monospace, sans-serif;
    text-align: left;
    margin-top: 100px;
}
.image{
    width: 470px;
    height: 300px;
    margin-top: 30px;
    margin-left: 150px;
    padding: 3px;
    position: relative;
    cursor: pointer;
}

.text,.fa,.mountain,.town,.lake,.mara{
    font-size: 28px;
    position: absolute;
    margin-left: 650px;
    padding: 18px;
    font-family: monospace;
    width: 800px;
    white-space: normal;
}
.text{
    top: 750px;
}
.fa{
    top: 1250px;
}
.mountain{
    top: 1750px;
}
.town{
    top: 2250px;
}
.lake{
    top: 2750px;
}
.mara{
    top: 3245px;
