@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#7AB730;
    --bg:white;
    --border:.1rem solid rgba(255,255,255,.3);
    --fnt:#666;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 5rem;
}

body{
    background: var(--bg);
}
.heading{
    color:var(--fnt);
    padding-bottom: 4rem;
    font-size: 4.5rem;
}
section{
    padding:2rem 7%;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.7rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;

}

.header .logo i{
    height: 5rem;
    color: var(--main-color);
}

.header a span {
    color: var(--main-color);
    font-size: 3rem;
    margin: 0 0rem;
    letter-spacing: 0.4rem;
    font-weight: 500;
}
.header a span:hover{
    color:rgb(91, 90, 90);
    /*border-bottom: .1rem solid #666;*/
    padding-bottom: .5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.9rem;
    color:var(--fnt);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.home{
  min-height: 100vh;
  display: flex;
  background:url(https://media.istockphoto.com/photos/aria-waterfall-bubble-picture-id998731302?k=20&m=998731302&s=612x612&w=0&h=zgvEd-6X-tn6ceIbKLMPnnwsEuKKemDSvpLNR0Qe3NQ=) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
  max-height: 60rem;
  margin-top: 26rem;

}
.home .content{
  font-size: 5rem;
  text-transform: capitalize;
  color: black;
}
.about .content h3{
  font-size: 40px;
  font-family: monospace;
  color: #7AB730;
}
.about .content p{
  font-size: 30px;
  color: black;
 font-family: monospace;
 padding-top: 6rem;
 padding-bottom: 4rem;
}
.box a p{
  font-size: 24px;
  color: #7AB730;
 font-family: monospace;
}
.continents .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.continents .box-container .box{
    padding:3rem;
    text-align: center;
    border:var(--border);
}

.continents .box-container .box img{
    height: 14rem;
}


.continents .box-container .box:hover{
    background:lightgreen;
}
.container {
    max-width: 85rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.container img {
    width: 900px;
    height: 550px;
    object-fit: cover;
}

.container .slider {
    display: none;
}

.container .slider.active {
    display: block;
}

.container .indicators {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    position: absolute;
     left: 50%;
    transform: translateX(-50%);
    bottom: -6%;
}

.container .indicators li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: .1rem solid var(--main-color);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.container .indicators li.active {
    background-color: var(--main-color);
    border-color: black;
    box-shadow: 0px 2px 13px 0px rgba(255 255 255 / 0.5);
}

.container .prev,
.container .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .3rem .3rem;
    background-color: rgba(255 255 255 / .6);
    cursor: pointer;
}

.container .prev {
    left: 5%;
}

.container .next {
    right: 1%;
}

.container .prev:hover,
.container .next:hover {
    background-color: rgba(255 255 255 / .8);
}

.container .prev i,
.container .next i {
    color: var(--main-color);
    font-size: 5rem;
}

.fade {
    animation: fade .4s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Start Europe*/

.europe{
    
}
